[Desktop Entry]
Type=Application
Categories=Utility
Exec=plank
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Plank
Comment=Plank Dock
X-GNOME-Autostart-Delay=1
